/* Write your CSS here */
.eachTodo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: #ff0b37;
  background-color: transparent;
  border: 1px solid #ff0b37;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}
