/* Write your CSS here */
.todo-page {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.todo-card {
  background-color: #ffffff;
  padding: 20px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 80%;
  min-width: 90%;

  @media (min-width: 576px) {
    min-width: 60%;
  }
}

.heading {
  color: #ff8542;
  text-align: center;
}

.todo-add-container {
  border: 1px solid;
  border-radius: 4px;
  margin: 5px 0 13px 0;
}

.todo-add-inputbar {
  width: 85%;
  height: 30px;
  outline: none;
}

.todo-add-btn {
  width: 15%;
  height: 30px;
  background-color: #ff8542;
  color: #fff;
  border: none;
  padding-left: 3px;
}

.todo-list-container {
  overflow: auto;
  scrollbar-width: thin;
  list-style-type: none;
  padding: 0;
}
